[user]
  #name = temerson7
  #email = temerson7@gatech.edu
  #name = tanner_emerson
  #email = tanner.p.emerson@gmail.com
  name = Emerson, Tanner
  email = tanner.emerson@viasat.com
	signingkey = 13B4664545E1BE91
[commit]
  template = ~/.config/git/template
	gpgsign = false

[alias]
  e = !git commit --allow-empty
  pair = !~/bin/git-pair
  unpair = !~/bin/git-unpair
  co = checkout
  s = status
  ec = config --global -e
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  cob = checkout -b
  cm = !git add -A && git commit
  save = !git add -A && git commit -m 'SAVEPOINT'
  wip = !git add -u && git commit -m "WIP"
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  lol = "log --graph --decorate --pretty=oneline --abbrev-commit"
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[pull]
  ff = only
[core]
  excludesFile = ~/.gitignore
  editor = nvim
  pager = delta
[init]
  defaultBranch = main
[credentail]
  helper = store

[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
[delta]
  line-numbers = true

