[user]
  #name = temerson7
  name = tanner_emerson
  #email = temerson7@gatech.edu
  email = tanner.p.emerson@gmail.com
[alias]
  co = checkout
  ec = config --global -e
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  cob = checkout -b
  cm = !git add -A && git commit
  save = !git add -A && git commit -m 'SAVEPOINT'
  wip = !git add -u && git commit -m "WIP"
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  lol = "log --graph --decorate --pretty=oneline --abbrev-commit"
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[pull]
  ff = only
[core]
  excludesFile = ~/.gitignore
[init]
  defaultBranch = main
[credentail]
  helper = store
